.message_card {
  width: auto;
  padding: 5px 8px;
  background-color: #3a3a6c;
  border-radius: 7px;
}

.message_card_sended {
  background-color: #3a3a6c;
}
.message_card_received {
  background-color: #255740;
}

.chat_textarea {
  width: 100%;
  background-color: #2a2a3d;
  color: white;
  border-radius: 7px;
  outline: none;
  border: 1px dashed #9a9ab8;
  resize: none;
}
.chat_textarea:focus {
  outline: 1px solid #8d77cfc7;
  border: 1px solid #8d77cf75;
}

.video-v1 {
  width: 22rem;
  height: 17rem;
  background-color: #8fb169;
}

.video-v2 {
  width: 13.5rem;
  height: 10rem;
  background-color: #b19869;
  right: 0;
  top: 0;
}

.layout-1 {
  padding-top: calc(var(--header-height) + 10px);
  padding-left: 12px;
  padding-right: 12px;
}
.layout-1 > .bar-1 {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #3f3fbc;
  height: var(--header-height);
  color: white;
  padding: 0 16px;
  z-index: 200;
}
.bn2 {
  height: 2.4rem;
  background-color: black;
  color: white;
}
.layer-c1 {
  position: absolute;
  width: 70vw;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  backdrop-filter: blur(8px);
  z-index: 201;
  left: 0;
  background-color: #4a3e56b5;
}